.card{
    width: 400px;
    height: 480px;
    display: block;
    background: rgb(5, 2, 58);
    border-radius: 4px;
    text-align:  center ;
    margin: 50px 0px 50px 550px;
    
}
.card .image{
    width: 130px;
    height: 128px;
    margin-top: 55px;
    border-radius: 100%;
    border: 3px solid rgb(240, 5, 5);
}
.card .name{
    color: rgb(252, 54, 4);
    margin: 20px 0px 8px 0px;
    font-size: 30px;
    font-weight: 600;
    font-family:  Open Sans;
    text-transform: capitalize;
    letter-spacing: 1px;
    text-align: center;
}
.card .title{
    color: rgb(18, 227, 7);
    font-family:  Open Sans;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
    margin: 0px 0px 10px 0px;
    

}
.card .description{
    color: #fff;
    font-family: sans-serif;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin: 0px 10px 0px 10px;
}
.card .contact{
    text-align: center;
    margin: 10px 0px 20px 0px;
}
.card .contact .email{
    color: #fff;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 300;
    margin: 10px 0px 0px 0px;

}
.card .contact .number{
    color: #fff;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
    margin: 10px 0px 0px 0px;
}